.*.sw*
/*.egg-info
*__pycache__*
/conf/compose.ini
!/conf/mysql-override/mysqld.cnf
/conf/php-fpm-override/*
!/conf/php-fpm-override/lamp.conf
!/conf/php-fpm-override/README
/conf/mysql-override/*
/home/www-data/*
!/home/www-data/.bashrc
!/home/www-data/bin/.keep
/logs/*
!/logs/apache/.keep
!/logs/php/.keep
!/logs/php/xdebug_profiler/.keep
/mongo
/mysql
!/plugins/README.md
/plugins/*
/www/*
!/www/.keep

*_lamp
