# Everything about Python
*.egg-info
__pycache__
*_marina

# Local configuration
/conf

# Data in Home
/home

# Logs
/logs

# Services data
/data/elasticsearch
/data/mongo
/data/mysql
/data/redis
/www

# Plugins
/plugins

# ReadTheDocs
/docs/_build
/docs/_build_html
