sudo: required
dist: trusty

language: python
python:
    - "3.4"
    - "3.5"
    - "3.6"

install:
    - pip install .
    - stakkr-init
    - pip install -r requirements-dev.txt

env:
    global:
        - TRAVIS_SECURE_ENV_VARS=true
        - secure: "nwqSnagHs9wVUUq6wmIk8gU4QdYn9DZxMB5Fq0EX632CmkzAPPggNLPpJnqQomPRLmde1twEYGvsIhmFMaCH8SYQjiXg5k0JWfNinR7Y62iFUoSoL59zxPi/zSISHgnSa1Knt015k7hkw6X1p/5VoqFaOZ+hQSfoNGS5jhV/cc+ZTLt8nPK7wv9POTuE4xqplt+JTyKKzlfhJZNj27dTWKDb2lfzDhNSaMmq03DY82Yg6avSRGrnJmZNqCGjnpBXMZJTb5ewBxysVzUFFWY68fUB1T2fksWbuyYayoBv+hJSDKBRNnEh89bTx0FCW8PJmlgjKtJSScJ+zHbDV5bfvQ5p5i4dbJ6H+IULWZ11WmTEJFKxuek6Pm8Mis380EBZaGLu6ES9LTJN1OB42qfDzjWBbjWzQeF/oMWY+fuyv8lwTo92Xa1P/3lxHwSS/kkbXokwozy1OhBLPpOb+bNSKyfW8PZ1xI8XKYHc3JTlHWITBuIq+kiMX1SSIK5B8FS3wJ4L201AFfI14MC/ht16/uLphmpdxpwU8ZoWFhIlsRCKqIOUtE7eb6ilZvlSAJteuk20qQBgLPL5+a/RlYI/yUHLS+bOL0JTq7G1tyGC3OFyoWSg7qeu1YVnbFRIkY7D4g7DOVdxVe0C7ClZO85/DMdNNV8m+Z3QL9wourj2HUg="

notifications:
    slack:
        - secure: "VQfnV2SKRv9PFK3GPPhTZZq+etFS0mGTtbBWILoK3r35W0HLFiEAl54zZkZkojOZgaFad97y8mXrIMxl3X37EHxbA/yYaAkApXfRU6DPaOj+VNJP5IOpU8SVJxzNTvTQ2ORzYUNwXxoxuywOVwKpJP1v/HrFStvEvotAPhnA0oM+qCkqB7NRlpZBbWnpDdGqPnG1p6AHjfNjXjyHfAGHE069k4XWCRNxXPKaosJluE1ExIioIbUd+q9ZujUzCRUEJbsKmchVJMWfqHnoKKKxIr0vkL1kWGT+4L5o0YHaJRM1Ei9Bu1FKtVKK+389hWGh+ONOjlHj/U1CzKlKI49Exin2JybioauWgwodn6OO4kYjm1A0obiYGyyQceleCXpSNmq6xLPDP1d3edMki4VKWMEnYYWoFW3gyEbuf8+yf1CHMxx1YzGdhy6pCEJmzzRjWYBLEF0Tg9LfJWbCh8giQPjvnFSwCzM+Gxi1XHk1NNEO0l1yTC/LNL8uZfBG9dmFCd4JvDXGxr2RHfxjP62DKERsBP5iviV8fOQvd7krprVGNKv8SDi0UxIAtZxyrJ2yvpVkrFsWs0EB3waW0dvGWkzP70J8iGOtUEHex/HhAq0x7Xu35StGnY3RO7hLXQaG6f2xXakgYpdet6wN0vvUpEEaE6IrSPUWyjf5oK49Zp4="

before_script:
    - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
    - chmod +x ./cc-test-reporter
    - ./cc-test-reporter before-build

# command to run tests
script: py.test

after_script:
    - coverage xml
    - if [[ "$TRAVIS_PYTHON_VERSION" == "3.6" ]]; then ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT; fi
