include README.md
include LICENSE
include stakkr/static/configspec.ini
include stakkr/static/docker-compose.yml
include stakkr/static/services/*.sh
include stakkr/static/services/*.yml
include stakkr/tpls/conf/compose.ini.tpl
include stakkr/tpls/conf/mysql-override/mysqld.cnf
include stakkr/tpls/conf/php-fpm-override/example.conf
include stakkr/tpls/conf/php-fpm-override/README
include stakkr/tpls/conf/xhgui-override/config.php
include stakkr/tpls/home/www-data/.bashrc
include stakkr/tpls/.env
include stakkr/tpls/bash_completion
