-e git+https://github.com/edyan/deploy-that.git#egg=deploy-that
pylint
pytest==4.6.3
pytest-cov==2.7.1
pytest-pep8==1.0.6
pytest-xdist==1.29.0
Pygments
sphinx
sphinx-autobuild
sphinx-click
sphinx-rtd-theme
twine
wheel
