[mysqld]
max_allowed_packet = 20M

log-error = /var/lib/mysql/mysql-error.log
slow_query_log
slow_query_log_file = /var/lib/mysql/mysql-slow.log

; sql_mode = STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
